nav {
    background-color: transparent;
}

body {
    background-color: black;
    color: white;
}

.card {
    background: teal;
}

.barra {
    background-color: teal;
}

#footer {
    background-color: teal;
}