nav {
    background-color: transparent;
}

body {
    background-color: black;
    color: white;
}

.card {
    background: teal;
}

.barra {
    background-color: teal;
}

#footer {
    background-color: teal;
}

.img-card {
    height: 180px;
}

.sinpadding {
    padding: 0;
}

.fondoicono {
    background-color: teal;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover-header {
    background-color: teal;
}

.fuente-footer {
    font-family: Oswald;
    font-weight: 400;
}
a{
    color: white;
}
a:hover{
    color: #ade4e6;
}